.Header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-4);
}

.Header_Link {
  cursor: pointer;
}

.Header_Link:hover {
  opacity: 0.7;
}

.Header_Menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  gap: 0.5rem
}

.Header_Mobile_Menu {
  display: none;
}

.Header_Text {
  color: var(--contrast-color);
  font-size: var(--small-desktop);
}

.Header_Item {
  display: flex;
  align-items: center;
}

.Header_Link {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-right: var(--spacing-2);
  width: 100%;
}

.Header_Link__SocialMedia {
  width: max-content;
  margin-right: var(--spacing-4);
}

.Header_Link:hover {
  opacity: 0.7;
  text-decoration: none;
}

.Header_Mobile_Menu:hover {
  opacity: 0.7;
}

.Header_Mobile_List {
  display: none;
}

/* responsive */

@media screen and (max-width: 30rem) {
  .Header_Menu {
    display: none;
  }

  .Header_Mobile_Menu {
    display: flex;
    background-color: transparent;
    border: none;
  }

  .Header_Item {
    margin-bottom: var(--spacing-2);
    padding: var(--spacing-1);
    border-bottom: var(--contrast-color) 0.1px solid;
  }

  .Header_Item:last-child {
    border: none
  }

  .Header_Text {
    margin: 0;
  }

  .Header_Mobile_List {
    animation: fadeIn 0.5s;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: var(--main-color-2);
    margin-top: -35px;
    padding: var(--spacing-3);
    border-radius: 0.5rem;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

