@import '../vars'

.Header
  width: 100%
  display: flex
  justify-content: space-between
  &__Menu
    color: $dark-blue
    display: flex
    align-items: center
  &__Item
    margin-right: 20px
    &:hover
      color: $light-blue
  &__Icon
    height: 30px
    margin-right: 20px
    &:hover
      opacity: .8
  &__Logo
    height: 30px
  &__Switch
    position: relative
    display: inline-block
    width: 60px
    height: 34px
    margin-right: 20px
    & input
      opacity: 0
      width: 0
      height: 0
      background-color: black
  &__Slider
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: transparent
    border: 1px solid $dark-blue
    -webkit-transition: .4s
    transition: .4s
    border-radius: 34px
    display: flex
    justify-content: flex-end
    align-items: center
    padding-right: 5px
    &::before
      position: absolute
      border-radius: 50%
      content: ""
      height: 26px
      width: 26px
      left: 4px
      bottom: 3px
      background-color: $dark-blue
      -webkit-transition: .4s
      transition: .4s
  &_dark .Header
    &__Menu
      color: $light-blue
    &__Slider
      border: 1px solid $light-blue
      justify-content: flex-start
      padding-left: 5px
      &::before
        background-color: $light-blue
    &__Item
      &:hover
        color: $dark-blue

input:checked + .Header__Slider:before
  -webkit-transform: translateX(26px)
  -ms-transform: translateX(26px)
  transform: translateX(26px)


